h1= title
form( method="post")
    div
        div
            span Artist :
            input(type="text", name="artist", id="editTabArtist")
        div
            span Title :
            input(type="text", name="title", id="editTabTitle")
        div
            span Tab :
            textarea( name="text", rows=20, id="editTabText)
        div#editTabSubmit
            input(type="submit", value="Create")
